/* Estilizado Principal*/
*{
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  overflow-x: hidden; 
}
  
body {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  font-family: 'Lato', sans-serif;
  font-weight: 300; 
}
.ocultar{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.ocultar.active{
  display: block;
}
/* Cabecera */
.header{
  height: 4em;
  position: fixed;
  background: linear-gradient(to right, #3b414e, #38d611);
  width: 100%;
  z-index: 1000;
}
.Titulo{
  color: #fff;
  text-decoration: none;
  left: 15%;
  text-align: center;
  font-size: 1.5em;
  line-height: 2;
  height: 8em;
  position: fixed;
  z-index: 30;
}
.Search-input{
  width: 20%;
  height: 2.5em;
  position: absolute;
  left: 30%;
  top: 10%;
  font-size: 1em;
  border: 1px solid rgb(8, 8, 8);
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}
.Search-input.unborderTop{
  border-bottom-left-radius: 0px 0px;
}
.Search-button{
  height: 2.5em;
  position: absolute;
  top: 10%;
  left: 50%;
  border: 1px solid rgb(8, 8, 8);
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}
.button{
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.button>img{
  width: 35px;
}
.boxSearch{
  display: none;
  position: fixed;
  text-align: left;
  background: white;
  left: 30%;
  top: 4.5%;
  width: 20%;
  border: 1px solid rgb(8, 8, 8);
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  line-height: 2;
  z-index: 180;
}
.boxSearch ul li{
  list-style: none;
}
.boxSearch ul li a{
  text-decoration: none;
  color: #616161;
}
.boxSearch.buttonActive{
  display: block;
}
.nav-item{
  text-decoration: none;
  display: block;
  color: #fff;
  padding: 14px 20px;
  position: relative;
  font-size: 1.5em;
  float: left;
  left: 55%;
}
.nav-link{
  text-decoration: none;
  list-style: none;
}
.nav-link>img{
  width: 32px;
}
.navbar-nav .nav-link {
  color: #fff;
  transition: .3s ease; 
}
.navbar-nav:hover li a {
  opacity: 0.5; 
}
  .navbar-nav:hover li a:hover {
    opacity: 1; 
  }

.navbar-toggler {
  font-size: 2rem;
  color: #fff; 
}
.nav-menu{
  cursor: pointer;
}
.nav-menu>img{
  width: 35px;
}
.navbar-responsive{
  transform: translateY(20px);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.menu-nav-responsive{
  display: none;
}
.navbar-responsive.activo{
  position: absolute;
  display: block;
  background: #000000;
  color: #efeff0;
  top: 70%; 
  left: 65%;
  width: 22%;
  height: 340px;
  z-index: 120;
  opacity: 1;
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s, opacity 0.5s 0.5s;
}
.navbar-responsive ul li{
  font-size: 1rem;
  left: 0%;
}

/* Cabecera responsive pantallas grandes (Mas de 1920)*/
@media (min-width: 4800px){
  .Titulo{
    left: 20%;
  }
  .Search-input{
    left: 35%;
  }
  .Search-button{
    left: 55%;
  }
  .boxSearch{
    left: 35%;
  }
  .nav-item{
    left: 60%;
  }
}
/* Cabecera responsive pantallas pequeñas (Menos de 1920)*/
@media (max-width: 1700px){
  .Titulo{
    left: 10%;
  }
  .Search-input{
    left: 25%;
  }
  .Search-button{
    left: 45%;
  }
  .boxSearch{
    left: 25%;
  }
  .nav-item{
    left: 50%;
  }
}
@media (max-width: 1550px){
  .boxSearch{
    top: 4.4%; 
  }
}
@media (max-width: 1500px){
  .Titulo{
    left: 8%;
  }
  .Search-input{
    left: 22%;
  }
  .Search-button{
    left: 42%;
  }
  .boxSearch{
    left: 22%;
  }
  .nav-item{
    left: 47%;
  }
}
@media (max-width: 1400px){
  .Titulo{
    font-size: 1.1em;
  }
  .nav-item{
    font-size: 1.1em;
  }
}
@media (max-width: 980px){
  .Titulo{
    font-size: 1em;
  }
  .Search-input{
    left: 35%;
    height: 2.2em;
  }
  .Search-button{
    left: 55%;
    height: 2.2em;
  }
  .boxSearch{
    left: 35%;
    top: 7.2%; 
  }
  .navbar-collapse{
    display: none;
  }
  .menu-nav-responsive{
    position: relative;
    display: block;
    width: 22%;
    height: 3.5em;
    top: 8px;
    left: 65%;
  }.menu-nav-responsive:hover{
    background: #07cfd6;
    color: #efeff0;
  }
}

/* Menu de contacto */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1002;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: #fff; }
.sidenav.active{
  width: 14%;
}
.sidenav-content{
  padding: 8px 32px;
  transform: translateY(20px);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.sidenav-content.activo{
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s, opacity 0.5s 0.5s; }

.sidenav a{
  text-decoration: none;
  font-size: 1.4rem;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidenav a:hover{
  color: #f1f1f1; }

.sidenav #side-nav-close,
.sidenav #side-search-close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

/*Fondo*/
.jumbotron {
    color: #fff;
    top: 39px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(Imagenes/giphy1.gif);
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    border-radius: 0;
    margin-bottom: 0;
    overflow: hidden;
    min-height: 100vh; 
  }
  /* fondo responsive pantallas grandes (Mas de 1920)*/
    
    .jumbotron h1{
      line-height: .9;
      font-weight: bold;
      display: inline-block;
      border: 15px solid #fff;
      padding: 30px;
      margin-top: 10%;
      margin-left: 35%;
      font-size: 9rem;
      text-align: center;
    }
  .jumbotron-single h1{
    font-size: 3rem !important; 
  }
  /*titulo grande responsive pantallas grandes (Mas de 1920)*/
  @media (min-width: 2900px){
    .jumbotron h1{
      margin-left: 40%;
    }
  }
  @media (min-width: 5000px){
    .jumbotron h1{
      margin-left: 43%;
    }
  }
  @media (min-height: 1400px){
    .jumbotron h1{
      margin-top: 15%;
    }
  }
  @media (min-height: 1800px){
    .jumbotron h1{
      margin-top: 20%;
    }
  }
  @media (min-height: 2400px){
    .jumbotron h1{
      margin-top: 25%;
    }
  }
  @media (min-height: 3200px){
    .jumbotron h1{
      margin-top: 30%;
    }
  }
  @media only screen and (min-width: 4000px) and (max-height: 1000px){
    .jumbotron h1{
      margin-top: 5%;
    }
  }
  @media only screen and (min-width: 7680px) and (max-height: 1200px){
    .jumbotron h1{
      margin-top: 2%;
    }
  }
  @media only screen and (min-width: 7680px) and (max-height: 1800px){
    .jumbotron h1{
      margin-top: 5%;
    }
  }
  @media only screen and (min-width: 7680px) and (max-height: 2400px){
    .jumbotron h1{
      margin-top: 7%;
    }
  }
  @media only screen and (min-width: 7680px) and (max-height: 2800px){
    .jumbotron h1{
      margin-top: 10%;
    }
  }
  @media only screen and (min-width: 7680px) and (max-height: 3600px){
    .jumbotron h1{
      margin-top: 15%;
    }
  }
  @media only screen and (min-width: 7680px) and (max-height: 4000px){
    .jumbotron h1{
      margin-top: 20%;
    }
  }
  /*titulo grande responsive pantallas grandes (Mas de 1920)*/
  @media (max-width: 1560px){
    .jumbotron h1{
      margin-left: 30%;
    }
  }
  @media (max-width: 1200px){
    .jumbotron h1{
      margin-left: 25%;
    }
  }
  @media (max-width: 1000px){
    .jumbotron h1{
      margin-left: 20%;
    }
  }
 /* contenedores de habilidades */
.bg-white{
  position: relative;
  padding-bottom: 100px;
}
.container{
  text-align: center;
  display: grid;  
}
.title-wrap{
  top: 10%;
  position: relative;
  font-size: 2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 120px;
}
.section-sub-title{
  font-size: 1.2em;
  font-weight:lighter;
}
.Contenedores{
  position: relative;
  cursor: pointer;
  margin: 20px;
  padding: 10px;
  padding-top: 40px;
  margin-top: 50px;
  display: inline-block;
  width: 20%;
  background: #ffffff;
  border: 1px solid rgb(218, 213, 213);
  border-radius: 5px;
  transition: 2s;
  font-size: 1.5em;
  font-weight: bold;
}
.Contenedores img{
  width: 70%;
}
.Contenedores:hover{
  background: #efeff0;
  width: 22%;
  height: 230px;
  bottom: 20px;
}
/* Galeria */

.GaleriaDeProyectos{
  position: relative;
  width: 100%;
  background-image: url(Imagenes/river-gfe72212c8_1920.jpg);
  background-size: cover;
}
.GaleriaDeProyectos>.container{
  background: linear-gradient(to right, #3b414edc, #38d611e5);
  padding: 90px;
}
.titulo-galeria{
  font-size: 1.8rem;
}
.ImagenGrande{
  object-fit: cover;
  width: 49.5%;
  margin: 30px;
  box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 6);
  border-radius: 15px;
}
.Imagen-text{
  font-size: 1.6rem;
  margin-bottom: 40px;
}
.contenedor-galeria{
  display: flex;
  align-items: center;
  position: relative;
}
.indicadores button{
  background: #fff;
  height: 10px;
  width: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}
.indicadores button:hover,
.indicadores button.activo{
  background: rgba(34, 241, 6, 0.959);
}
.flecha-izquierda,
.flecha-derecha{
  position: absolute;
  border: none;
  background: rgba(60, 77, 58, 0.411);
  font-size: 40px;
  height: 86%;
  top: calc(50%-25%);
  line-height: 40px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 300;
  transition: .2s ease all;
}
.flecha-izquierda:hover,
.flecha-derecha:hover{
  background:rgba(60, 77, 58, 0.671);
}
.flecha-izquierda{
  left: 0;
}
.flecha-derecha{
  right: 0;
}
.contenedor-carrusel{
  position: relative;
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}
.Carrusel-Imagenes{
  display: flex;
  flex-wrap: nowrap;
}
.proyecto{
  min-width: 20%;
  transition: .3s ease all;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); 
}
.proyecto img{
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.proyecto.hover{
  transform: scale(1.2);
  transform-origin: center;
}

/* Formulario de contacto */
.ZonaDeContacto{
  position: relative;
}
.formularioContacto{
  position: relative;
  background: white;
  top: 80px;
  width: 25%;
  left: 38%;
  border: 1px solid rgb(218, 213, 213);
  box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 6);
  border-radius: 10px;
  margin-bottom: 250px;
  padding-bottom: 3%;
}
.tContacto{
  text-align: center;
  padding-top: 10%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.2em;
}
.cajasTexto{
  padding-top: 15px;
  padding-left: 10%;
  width: 105%;
}
.cajasTexto input{
  width: 75%;
  height: 2.2em;
  border: 1px solid rgb(218, 213, 213);
  border-radius: 7px;
}.cajasTexto textarea{
  width: 75%;
  height: 12em;
  border: 1px solid rgb(218, 213, 213);
  border-radius: 7px;
}
.botonTexto{
  padding-top: 15px;
  text-align: center;
}
.botonTexto button{
  padding: 10px;
  font-size: 1.2em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  color: white;
  background: #38d611;
  border: 1px solid rgb(218, 213, 213);
  border-radius: 15px;
}

/*Textos responsive pantalla pequeña (menor a 1980px)*/
@media (max-width: 1400px){ 
  .sidenav a{
    font-size: 1.1rem;
  }
  .title-wrap{
    font-size: 1.8em;
  }
  .section-sub-title{
    font-size: 1em;
  }
  .titulo-galeria{
    font-size: 1.6rem;
  }
  .Imagen-text{
    font-size: 1.2rem;
  }
  .TituloProyectos{
    font-size: .8em;
  }
  .tContacto{
    font-size: 1em;
  }
  .botonTexto button{
    font-size: 1em;
  }
}
@media (max-width: 1250px){
  .sidenav a{
    font-size: .9rem;
  }
  .titulo-galeria{
    font-size: 1.4rem;
  }
  .Imagen-text{
    font-size: 1rem;
  }
} 
@media (max-width: 1150px){
  .sidenav a{
    font-size: .7rem;
  }
  .titulo-galeria{
    font-size: 1.2rem;
  }
} 
@media (max-width: 1050px){
  .sidenav a{
    font-size: .5rem;
  }
  .titulo-galeria{
    font-size: 1rem;
  }
  .tContacto{
    font-size: .8em;
  }
  .botonTexto button{
    font-size: .8em;
  }
} 
@media (max-width: 950px){
  .sidenav a{
    font-size: 0;
  }
  .title-wrap{
    font-size: 1.6em;
  }
  .section-sub-title{
    font-size: .8em;
  }
  .jumbotron h1{
    font-size: 8rem;
    margin-left: 15%;
  }
  .Contenedores{
    font-size: 1.1em;
  }
} 
@media (max-width: 800px){
  .navbar-responsive ul li{
    font-size: .8rem;
  }
  .jumbotron h1{
    font-size: 7rem;
  }
  .tContacto{
    font-size: .6em;
  }
  .botonTexto button{
    font-size: .6em;
  }
} 
@media (max-width: 650px){
  .navbar-responsive ul li{
    font-size: .6rem;
  }
  .jumbotron h1{
    font-size: 6rem;
    margin-left: 10%;
  }
} 
@media (max-width: 500px){
  .navbar-responsive ul li{
    font-size: 0;
    left: 20%;
  }
  .jumbotron h1{
    font-size: 5rem;
  }
} 

/*Textos responsive pantalla grande (mayor a 1980px)*/
@media (min-width: 2400px){ 
  .sidenav a{
    font-size: 1.4rem;
  }
  .title-wrap{
    font-size: 2em;
    margin-bottom: 200px;
  }
  .section-sub-title{
    font-size: 1.2em;
  }
  .Contenedores{
    font-size: 1.3em;
    margin: 30px;
  }
  .titulo-galeria{
    font-size: 1.8rem;
  }
  .Imagen-text{
    font-size: 1.4rem;
  }
  .tContacto{
    font-size: 1.2em;
  }
  .botonTexto button{
    font-size: 1.2em;
  }
}
@media (min-width: 2800px){ 
  .sidenav a{
    font-size: 1.6rem;
  }
  .title-wrap{
    font-size: 2.2em;
    margin-bottom: 250px;
  }
  .section-sub-title{
    font-size: 1.4em;
  }
  .Contenedores{
    font-size: 1.5em;
    margin: 40px;
  }
  .titulo-galeria{
    font-size: 2rem;
  }
  .Imagen-text{
    font-size: 1.6rem;
  }
  .tContacto{
    font-size: 1.4em;
  }
  .botonTexto button{
    font-size: 1.4em;
  }
}
@media (min-width: 3200px){ 
  .sidenav a{
    font-size: 1.8rem;
  }
  .title-wrap{
    font-size: 3em;
    margin-bottom: 300px;
  }
  .section-sub-title{
    font-size: 1.6em;
  }
  .Contenedores{
    font-size: 1.7em;
    margin: 50px;
  }
  .titulo-galeria{
    font-size: 2.2rem;
  }
  .Imagen-text{
    font-size: 1.8rem;
  }
  .tContacto{
    font-size: 1.6em;
  }
  .botonTexto button{
    font-size: 1.6em;
  }
}
@media (min-width: 3600px){ 
  .sidenav a{
    font-size: 2rem;
  }
  .title-wrap{
    font-size: 4em;
    margin-bottom: 350px;
  }
  .section-sub-title{
    font-size: 1.8em;
  }
  .Contenedores{
    font-size: 1.9em;
    margin: 60px;
  }
  .titulo-galeria{
    font-size: 2.4rem;
  }
  .Imagen-text{
    font-size: 2rem;
  }
  .tContacto{
    font-size: 1.8em;
  }
  .botonTexto button{
    font-size: 1.8em;
  }
}
@media (min-width: 4000px){ 
  .sidenav a{
    font-size: 2.2rem;
  }
  .title-wrap{
    font-size: 5em;
    margin-bottom: 400px;
  }
  .section-sub-title{
    font-size: 2em;
  }
  .Contenedores{
    font-size: 2.1em;
    margin: 70px;
  }
  .titulo-galeria{
    font-size: 2.6rem;
  }
  .Imagen-text{
    font-size: 2.2rem;
  }
  .tContacto{
    font-size: 2em;
  }
  .botonTexto button{
    font-size: 2em;
  }
}@media (min-width: 5000px){ 
  .sidenav a{
    font-size: 2.4rem;
  }
  .title-wrap{
    font-size: 6em;
    margin-bottom: 500px;
  }
  .section-sub-title{
    font-size: 2.2em;
  }
  .Contenedores{
    font-size: 2.3em;
  }
  .titulo-galeria{
    font-size: 2.8rem;
  }
  .Imagen-text{
    font-size: 2.4rem;
  }
  .tContacto{
    font-size: 2.2em;
  }
  .botonTexto button{
    font-size: 2.2em;
  }
}
/*flechas galeria responsive*/
@media (max-width: 4000px){ 
  .flecha-izquierda,
  .flecha-derecha{
    height: 93%;
  }
}
@media (max-width: 3700px){ 
  .flecha-izquierda,
  .flecha-derecha{
    height: 92%;
  }
}
@media (max-width: 3400px){ 
  .flecha-izquierda,
  .flecha-derecha{
    height: 91%;
  }
}
@media (max-width: 3100px){ 
  .flecha-izquierda,
  .flecha-derecha{
    height: 90%;
  }
}
@media (max-width: 2800px){ 
  .flecha-izquierda,
  .flecha-derecha{
    height: 89%;
  }
}
@media (max-width: 2500px){ 
  .flecha-izquierda,
  .flecha-derecha{
    height: 88%;
  }
}
@media (max-width: 2200px){ 
  .flecha-izquierda,
  .flecha-derecha{
    height: 87%;
  }
}
@media (max-width: 1900px){ 
  .flecha-izquierda,
  .flecha-derecha{
    height: 85%;
  }
}
@media (max-width: 1750px){ 
  .flecha-izquierda,
  .flecha-derecha{
    height: 84%;
  }
}
@media (max-width: 1600px){ 
  .flecha-izquierda,
  .flecha-derecha{
    height: 83%;
  }
}
@media (max-width: 1450px){ 
  .flecha-izquierda,
  .flecha-derecha{
    height: 81%;
  }
}
@media (max-width: 1300px){ 
  .flecha-izquierda,
  .flecha-derecha{
    height: 79%;
  }
}
@media (max-width: 1150px){ 
  .flecha-izquierda,
  .flecha-derecha{
    height: 77%;
  }
}
@media (max-width: 1000px){ 
  .flecha-izquierda,
  .flecha-derecha{
    height: 74%;
  }
}
@media (max-width: 850px){ 
  .flecha-izquierda,
  .flecha-derecha{
    height: 71%;
  }
}
@media (max-width: 700px){ 
  .flecha-izquierda,
  .flecha-derecha{
    height: 68%;
  }
}

/* Footer */

footer{   
  display: inline-flex;
  color: #000000;
  width: 100%;
  height: 14px;
  background: #ffffff;
  padding: 20px 18px;
  position: fixed;
  bottom: 0px;
  text-align: center;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  list-style: none;
  z-index: 400;
  padding-left: 16%;
}
footer li{
  list-style: none;
  color: #000000;
  text-decoration: none;
  right: 10%;   
}
footer li p{
  padding: 1px 400px;
}
footer li a{
  padding: 10px 20px;
}
/* footer responsive */
@media (min-width: 2900px){
  footer{
    padding-left: 20%;
  }
}
@media (min-width: 3400px){
  footer{
    padding-left: 25%;
  }
}
@media (min-width: 4200px){
  footer{
    padding-left: 30%;
  }
}
@media (min-width: 5000px){
  footer{
    padding-left: 35%;
  }
}

/* footer responsive */
@media (max-width: 1750px){
  footer li p{
    padding: 1px 350px;
  }
}
@media (max-width: 1550px){
  footer li p{
    padding: 1px 300px;
  }
}
@media (max-width: 1350px){
  footer li p{
    padding: 1px 250px;
  }
}
@media (max-width: 1250px){
  footer li p{
    padding: 1px 200px;
  }
}
@media (max-width: 1150px){
  footer li p{
    padding: 1px 150px;
  }
}
@media (max-width: 1050px){
  footer li p{
    padding: 1px 100px;
  }
}
@media (max-width: 950px){
  footer li p{
    padding: 1px 50px;
  }
}
@media (max-width: 850px){
  footer li p{
    padding: 1px 30px;
  }
  footer li a{
    padding: 10px 10px;
  }
}
@media (max-width: 750px){
  footer li p{
    padding: 1px 15px;
  }
  footer li a{
    padding: 10px 5px;
  }
}